<div class="row">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText.ownerName">
      <span class="input-group-btn">
        <button class="btn btn-default glyphicon glyphicon-search" type="button"></button>
      </span>
  </div>
</div>
<div class="row top-buffer">
  <a ng-repeat="offer in offers | filter:searchType" ng-href="/#/offerShow/{{offer.id}}" class="list-group-item">
    <div class="row con">
      <div class="col-md-3"><img src="images/ride.png" class="img-circle" width="100" height="100" align="left"></div>
      <div class="col-md-9">
        <div class="row"><div class="col-md-9" align="left"> <h4 class="list-group-item-heading">{{offer.id}}</h4></div></div>
        <div class="row"><div class="col-md-4" align="left">{{offer.rideDate}}</div></div>
      </div>
    </div>
  </a>
</div>
