<div class="container">
  <h2>Core Statistisc</h2>
  <ul class="nav nav-tabs top-buffer">
    <li class="active"><a data-toggle="tab" data-target="#menu2">Savings</a></li>
    <li><a data-toggle="tab" data-target="#menu1">Success comparison</a></li>
    <li><a data-toggle="tab" data-target="#menu0">Top users</a></li>
    <li><a data-toggle="tab" data-target="#menu3">Freebie Statistic</a></li>
  </ul>

  <div class="tab-content">
    <div id="menu0" class="tab-pane fade">
      <div class="row top-buffer">
        <a ng-repeat="user in topUsers" ng-href="/#/userShow/{{user.ownerId}}" class="list-group-item">
          <div class="row con">
            <div class="col-md-3"><img src="images/Icon-user.png" class="img-circle" width="50" height="50" align="left"></div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-7" align="left"> <h5 class="list-group-item-heading">{{user.ownerId}}</h5></div>
              </div>
              <div class="row">
                <div class="col-lg-7" align="left">
                  Total rides: {{user.total}}
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div>
        <highchart config="chartConfig"></highchart>
      </div>
    </div>
    <div id="menu2" class="tab-pane fade in active">
      <div class="jumbotron top-buffer">
      <p class="top-buffer">
        Thanks to this app your employees ride <strong>{{distanceStats.kilometers}}</strong> kilometers.<br>
        They consumed <strong>{{distanceStats.fuel}}</strong> liters of fuel and They spend <strong>{{distanceStats.price}}</strong> zlotych. <br>
        But what is most important they saved <strong>{{distanceStats.saved}}</strong> zlotych and <strong>{{distanceStats.savedFuel}}</strong> liters of fuel.
      </p>
      </div>
    </div>
    <div id="menu3" class="tab-pane fade">
      <div class="top-buffer">
        <highchart config="pieChartConfig"></highchart>
      </div>
    </div>
  </div>
</div>
<!--<highchart id="chart1" config="chartConfig"></highchart>-->
