<div class="container">
  <h2>Core Statistisc</h2>
  <ul class="nav nav-tabs top-buffer">
    <li class="active"><a data-toggle="tab" data-target="#menu0">Top users</a></li>
    <li><a data-toggle="tab" data-target="#menu1">Success comparison</a></li>
    <li><a data-toggle="tab" data-target="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" data-target="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="menu0" class="tab-pane fade in active">
      <div class="row top-buffer">
        <a ng-repeat="user in topUsers" ng-href="/#/userShow/{{user.ownerId}}" class="list-group-item">
          <div class="row con">
            <div class="col-md-3"><img src="images/Icon-user.png" class="img-circle" width="50" height="50" align="left"></div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-7" align="left"> <h5 class="list-group-item-heading">{{user.ownerId}}</h5></div>
              </div>
              <div class="row">
                <div class="col-lg-7" align="left">
                  Total rides: {{user.total}}
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div>
        <highchart id="chart1" config="chartConfig"></highchart>
      </div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>
<!--<highchart id="chart1" config="chartConfig"></highchart>-->
