<div align="left">

  <div class="row">
    <div class="col-md-4"><img src="images/Icon-user.png" class="img-circle" width="200" height="200"></div>
    <div class="row">
      <div class="col-md-6"><h2><strong>{{user.nick}}</strong></h2></div>
      <div class="col-md-6 top-buffer"><strong>First name:</strong> {{user.firstName}}</div>
      <div class="col-md-6"><strong>Last name:</strong> {{user.lastName}}</div>
      <div class="col-md-6"><strong>Id:</strong> {{user.id}}</div>
    </div>
  </div>
</div>
